/* Debug */

.debug header{
    height: 60px;
/*     background-color: rgb(80, 9, 146); */
}

.debug .item{
    height: 30px;
/*     width: 200px; */
/*     background-color: rgb(159, 84, 229); */
    border: 1px dashed black;
}

.debug .login{
    height: 30px;
    border: 1px dashed black;
}

.debug .items{
    height: 30px;
/*     width: 600px; */
/*     background-color: rgb(159, 84, 229); */
    border: 1px dashed black;
}

.debug .blue{
/*     height: 400px; */
/*     background-color: rgba(23, 23, 196, 0.818); */
}

.debug .download{
/*     height: 500px; */
/*     width: 700px; */
/*     background-color: rgb(52, 171, 211); */
    border: 1px dashed black;
}

.debug .white{
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.debug .img_frog{
/*     height: 400px; */
/*     width: 550px; */
/*     background-color: rgb(202, 49, 49); */
    border: 1px dashed black;
}

.debug .text_place{
/*     height: 400px; */
/*     width: 400px; */
/*     background-color: rgb(240, 174, 52); */
    border: 1px dashed black;
}

/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-blu: #3161e0;
    --text-grey: #2e3235;
    --botton-black: #23272a;
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--background-blu);
}

.container_links{
    display: flex;
    align-items: center;
    width: 70%;
    background-color: var(--background-blu);
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.links>div{
    padding: 5px;
}

.item{
    padding: 5px;
    display: flex;
    align-items: center;
}

.logo{
    text-align: left;
}

.logo>img{
    max-width: 80%;
    max-width: 80%;
    
}

.login{
    justify-content: end;
    display: flex;
}

.login_btn{
    background-color: white;
    color: var(--text-grey);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 10px;
}


.download_btn{
    border: none;
    background-color: white;
    color: var(--text-grey);
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
}

.browser_btn{
    border: none;
    background-color: var(--botton-black);
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
}

.link{
    color: white;
    font-size: 12px;
}

.container{
    display: flex;
    width: 70%;
    margin: auto;
    max-width: 1152px;
}

.frog{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.download{
    width: 100%;
}

.blue{
    background-image: url('../assets/img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

.p_header{
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    text-align: center;
    line-height: 25px;
}



/* Utility */

a{
    text-decoration: none;
    color: var(--text-grey);
}

.c_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col_7{
    padding: 1rem;
    width: calc((100% / 12) * 7);
}

.col_5{
    padding: 1rem;
    width: calc((100% / 12) * 5);
}

.col_4{
    padding: 1rem;
    width: calc((100% / 12) * 4);
}

.col_2{
    padding: 1rem;
    width: calc((100% / 12) * 2);
}

.col_3{
    padding: 1rem;
    width: calc((100% / 12) * 3);
}

/* .col_6{
    padding: 1rem;
    width: calc((100% / 12) * 6);
} */

.col_8{
    padding: 1rem;
    width: calc((100% / 12) * 8);
}

p_1{
    padding: 1rem;
}

.row{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 160px;
}

.p_p{
    padding-left: 4rem;
    padding-top: 1rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    text-align: left;
    color: var(--text-grey);
    font-size: 14px;
    line-height: 18px;
}

.h2_p{
    padding-left: 4rem;
    padding-top: 2rem;
    padding-right: 4rem;
    text-align: left;
    font-size: 2rem;
    line-height: 2,5rem;
}