/* #region Debug */

.debug header{
    height: 60px;
/*     background-color: rgb(80, 9, 146); */
}

.debug .item{
    height: 30px;
/*     width: 200px; */
/*     background-color: rgb(159, 84, 229); */
    border: 1px dashed black;
}

.debug .login{
    height: 30px;
    border: 1px dashed black;
}

.debug .items{
    height: 30px;
/*     width: 600px; */
/*     background-color: rgb(159, 84, 229); */
    border: 1px dashed black;
}

.debug .blue{
/*     height: 400px; */
/*     background-color: rgba(23, 23, 196, 0.818); */
}

.debug .download{
/*     height: 500px; */
/*     width: 700px; */
/*     background-color: rgb(52, 171, 211); */
    border: 1px dashed black;
}

/* .debug .white{
    height: 500px;
    background-color: rgb(255, 255, 255);
} */

.debug .img_frog{
/*     height: 400px; */
/*     width: 550px; */
/*     background-color: rgb(202, 49, 49); */
    border: 1px dashed black;
}

.debug .text_place{
/*     height: 400px; */
/*     width: 400px; */
/*     background-color: rgb(240, 174, 52); */
    border: 1px dashed black;
}


/* .debug .grey{
    height: 500px;
    background-color: rgb(159, 150, 150);
} */

.debug .text_channel{
/*     height: 400px; */
 /*    width: 400px; */
/*     background-color: rgb(240, 174, 52); */
    border: 1px dashed black;
}

.debug .img_wizard{
/*     height: 400px; */
/*     width: 550px; */
    /*    background-color: rgb(202, 49, 49); */
    border: 1px dashed black;
}


/* .debug .fandom{
    height: 500px;
    background-color: rgb(233, 221, 207);
} */

.debug .img_book{
/*     height: 400px; */
/*     width: 550px; */
/*     background-color: rgb(202, 49, 49); */
    border: 1px dashed black;
}

.debug .text_fandom{
/*     height: 400px; */
/*     width: 400px; */
/*     background-color: rgb(240, 174, 52); */
    border: 1px dashed black;
}

.debug .screens{
/*     height: 480px; */
/*     width: 950px; */
/*     background-color: rgb(81, 224, 157); */
    border: 1px dashed black;
}


/* .debug .bottom_menu{
    height: 500px;
    background-color: rgb(30, 30, 131);
} */

.debug .socials{
/*     height: 450px; */
/*     width: 300px; */
/*     background-color: rgb(232, 234, 145); */
    border: 1px dashed black;
}

.debug .list{
/*     height: 450px; */
/*     width: 150px; */
/*     background-color: rgb(220, 85, 220); */
    border: 1px dashed black;
}

/* .debug footer{
    height: 50px;
    background-color: rgb(30, 30, 131);
} */

/* .debug .container_footer{
    height: 40px;
    background-color: rgb(255, 143, 161);

} */

.debug .foot_logo{
    height: 30px;
/*     width: 100px; */
/*     background-color: rgb(110, 200, 252); */
    border: 1px dashed black;
}

.debug .foot_login{
    height: 30px;
/*     width: 100px; */
/*     background-color: rgb(110, 200, 252); */
    border: 1px dashed black;
}

/* #endregion debug */

/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-blu: #3161e0;
    --text-grey: #2e3235;
    --botton-black: #23272a;
    --background-grey: #f6f6f6;
    --purple: #8ea1e1;
    --backgroung-bottom: #23272a;
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--background-blu);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: var(--background-blu);
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.links>div{
    padding: 5px;
}

.item{
    padding: 5px;
    display: flex;
    align-items: center;
}

.logo{
    text-align: left;
}

.logo>img{
    max-width: 80%;
    max-width: 80%;
    
}

.login{
    justify-content: end;
    display: flex;
}

.login_btn{
    background-color: white;
    color: var(--text-grey);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 10px;
}


.download_btn{
    border: none;
    background-color: white;
    color: var(--text-grey);
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
}

.browser_btn{
    border: none;
    background-color: var(--botton-black);
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
}

.link{
    color: white;
    font-size: 12px;
}

.white{
    background-color: white;
}

.grey{
    background-color: var(--background-grey);
}

.container_blue{
    display: flex;
    width: 70%;
    margin: auto;
    max-width: 1152px;
}

.container{
    display: flex;
    width: 70%;
    margin: auto;
    max-width: 1152px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.image_cont{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.download, .screens{
    width: 100%;
}

.download{
    margin-top: 30px;
}

.blue{
    background-image: url('../assets/img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

.p_header{
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    text-align: center;
    line-height: 25px;
}



/* Utility */

a{
    text-decoration: none;
    color: var(--text-grey);
}

.c_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col_7{
    padding: 1rem;
    width: calc((100% / 12) * 7);
}

.col_5{
    padding: 1rem;
    width: calc((100% / 12) * 5);
}

.col_4{
    padding: 1rem;
    width: calc((100% / 12) * 4);
}

.col_2{
    padding: 1rem;
    width: calc((100% / 12) * 2);
}

.col_3{
    padding: 1rem;
    width: calc((100% / 12) * 3);
}

/* .col_6{
    padding: 1rem;
    width: calc((100% / 12) * 6);
} */

.col_8{
    padding: 1rem;
    width: calc((100% / 12) * 8);
}

p_1{
    padding: 1rem;
}

.purple_text{
    color: var(--purple);
}

.row{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 130px;
}

.p_p{
    padding-left: 4rem;
    padding-top: 1rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    text-align: left;
    color: var(--text-grey);
    font-size: 14px;
    line-height: 25px;
}

.h2_p{
    padding-left: 4rem;
    padding-top: 3rem;
    padding-right: 4rem;
    text-align: left;
    font-size: 2rem;
    line-height: 2,5rem;
    color: var(--text-grey);
}

.h2_bigc{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    text-align: center;
    font-size: 2rem;
    color: var(--text-grey);
}

.p_bigc{
    padding-left: 10rem;
    padding-top: 1rem;
    padding-right: 9rem;
    padding-bottom: 1rem;
    text-align: center;
    color: var(--text-grey);
    font-size: 14px;
    line-height: 25px;
}

/* .image_big{
    width: 100%;
    object-fit: contain;
    object-position: center;
} */

.big_pic_cont{
    display: flex;
    justify-content: center;

}

.stars{
/*     background-image: url('../assets/img/stars.svg'); */
/*     background-size: auto; */
    height: 40px;
    display: flex;
    justify-content: center;
}

.h3_stars{
    background-image: url('../assets/img/stars.svg');
    background-size: cover;
}

.h3_bottom{
    font-size: 1.5rem;
    padding: 1.5rem;
    line-height: 2rem;
}

.big_pic_btn{
        border: none;
        background-color: var(--purple);
        color: var(--text-grey);
        border-radius: 20px;
        padding: 10px 15px;
        font-size: 14px;
        color: white;
}

.download_btn_bp{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.bottom_menu{
    background-color: var(--backgroung-bottom);
}

.socials .language{
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 0 1.5rem;
}

.language i{
    font-size: 10px;
    padding-left: 2px;
    color: white;
}

.language img{
    padding-right: 2px;
}

.language span{
    font-size: 12px;
    color: white;
}

.socials ul{
    list-style: none;

}

.socials_icons{
    padding-left: 1rem;
    padding-top: 1rem;
}

.socials_icons i{
    padding-left: 8px;
    color: white;
}

.list{
    padding-top: 3rem;
}

.list h5{
    color: var(--purple);
    padding-bottom: 5px;
}

.list ul{
    list-style: none;
}

.list a{
    color: white;
    font-size: 12px;
}

.list li{
    line-height: 20px;
}

footer{
    background-color: var(--backgroung-bottom);
    padding: 50px;
}

.container_footer{
    /*     width: 900px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    /*     border-top: 1px solid rgba(74,87,129,255); */
    }
    
    .foot_logo{
        padding-top: 30px;
    }
    
    .foot_login{
        padding-top: 25px;
        text-align: right;
        color: white;
    }

    .border_t{
        border-top: 1px solid rgba(74,87,129,255);
    }

    .footer_btn{
        background-color: var(--purple);
        color: white;
        border: none;
        border-radius: 15px;
        padding: 5px 10px;
        font-size: 10px;
    }